@charset "UTF-8";

/* 헤더공통 ---------------------------------- */
@media (min-width: 992px) {
    .hero-header,
    .page-header {
        margin-top: 0 !important;
    }
    body{padding-top:152px;}
}

@media (max-width: 992px) {
    .hero-header,
    .page-header {
        margin-top: 0 !important;
    }
    body{padding-top: 97px;}
}

.dropdown .dropdown-menu a:hover {
    background: #fff;
    color: var(--bs-primary);
}

.navbar-expand-xl .navbar-nav .dropdown-menu{
	background-color: #fff !important;
}

/* Main ---------------------------------- */

.text-secondary {
    color: #F88264 !important;
}

.page-header-mealColumn {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://www.pulmuone-lohas.com/upload/webimage/202212/20221205PxgL-.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-header-cmnt {
	position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://media.licdn.com/dms/image/D4E12AQHBMHlSdYZiBQ/article-cover_image-shrink_720_1280/0/1657307218470?e=2147483647&v=beta&t=lU7K89xpX7z5ezsJJbbietylfkBeT4pmjd8IlEpbT28);
    
    background-repeat: no-repeat;
    background-size: cover;
}


@media (max-width: 992px) {
	.page-header-mealColumn{
        margin-top: 97px !important;
    }
}

.border-secondary-main {
		border-color:#F88264 !important;
}

/* 상세페이지 --------------------------------- */
.m_form {
	display: flex;
	flex-wrap: wrap;
	gap: 10px
}

.m_form>div {
	width: calc(50% - 10px);
}

.rounded-pill {
	border-radius: 50rem !important;
}

.text-bg-secondary {
	background-color: #6c757d !important;
}

.text-bg-success {
	background-color: #198754 !important;
}

.badge {
	display: inline-block;
	padding: .35em .65em;
	font-size: .75em;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25rem;
}

.pagination a {
	border-radius: 50%;
	padding: 4px 11px;
	margin: 0 8px;
}

.page-item:first-child .page-link {
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
}

.page-item:last-child .page-link {
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
}



.pagination li:not(.m_prev, .m_next) a {
	border: 0px solid #000;
}

.pagination a:hover:not(.active) {
	background-color: #f8826424;
}

.page-item.active .page-link {
	background-color: var(--bs-secondary);
	border-color: var(--bs-secondary);
}

.page-link {
	padding: .375rem .75rem;
}

.page-link {
	position: relative;
	display: block;
	color: #0d6efd;
	text-decoration: none;
	background-color: #fff;
	border: 1px solid #dee2e6;
	transition: color .15s ease-in-out, background-color .15s ease-in-out,
		border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.table th, .table td {
	text-align: center;
}

@media ( max-width : 768px) {
	.m_form>div {
		width: 100%;
	}
	.m_form>div>.fas {
		display: block;
	}
	.mob_table tr>th:not(:nth-child(1), :nth-child(2)), .mob_table tr>td:not(:nth-child(1),
		:nth-child(2)) {
		display: none;
	}
}

.g_btn_box{
	display:flex; align-items: flex-end;
}

/*------------------------헤더 드롭다운*/ 

.profile-pic {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	object-fit: cover;
}

.dropdown-menu {
	min-width: 250px;
}

.dropdown-header {
	display: flex;
	align-items: center;
	padding: 10px;
}

.dropdown-header img {
	margin-right: 10px;
}

.dropdown-header .user-info {
	display: flex;
	flex-direction: column;
}

.dropdown-header .user-info .user-name {
	font-weight: bold;
}

.dropdown-header .user-info .user-points {
	font-size: 0.9em;
	color: gray;
}

.bg-light {
	background-color: transparent !important;
}

/* .navbar.navbar-light.bg-light{
	background-color: transparent !important;
}
 */
