@charset "UTF-8";

.mScale {
	width: 100px;
	height: 100px;
	object-fit: cover;
}

.fixed-button {
	position: fixed;
	top: 40%;
	right: -77%;
	transform: translateY(-50%);
	z-index: 1000;
}

#right-buttons button {
	display: block;
	margin-top: 10px;
}

.hidden {
	display: none;
}

@media ( max-width : 768px) {
	.fixed-button {
		display: none;
	}
}